.header-photo{
    background-image: url("./images/header-logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
}
.header-text{
    color: white;
    font-family: "Arial";
}
.name-form{
    width: 15em;
    padding-left: 5px;
}
.address-form{
    width: 50em;
}
hr{
    border-style: solid;
    border-color: black;
}
.btn-size{
    width: 10em;
}