
.images-logo{
    width: 8em;
    height: 8em;
    margin-left: -2em;
}
.color-design{
    color: #808080;
}
.hr-border{
    border-color: #000000;
}
.left-panel{
    border-right: solid #000000;
    width: 6em;
    height: 32em;
    margin-left: auto;
}
.content-panel{
    width: 50em;
    height: 32em;
    margin-left: -4em;
}
.btn-search,.nav-bar{
    margin-top: 3em;
}
.message-panel{
    margin-left: 4em;
}

/*For styling in classroom*/
html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
.column{
    float: left;
    width: 33.3%;
    margin-top: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px){
    .column{
        width: 50%;
        display: block;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container-subject{
    text-align: center;
}
.container-subject::after, .row::after{
    content: "";
    clear: both;
    display: table;
}
.button-classroom-subject {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
}
.button-classroom-subject:hover {
    background-color: #555;
}
.img-style-subject{
    width: 20%;
    height: auto;
    display: flex;
    text-align: center;
    
}


/*message*/

.chatheads{
    width: 40px;
    border-radius: 50%;
    
}

.receiver{
    box-sizing: content-box;
}
.sender{
    box-sizing: content-box;
    text-align: right;

}
.receiver .chatheads-receiver{
    border-radius: 50%;
    width: 60px;
    height: auto;
}
.sender .chatheads-sender{
    border-radius: 50%;
    width: 60px;
    height: auto;
}
.message-content{
    max-width: 70em;
}
.chat-message-content{
    width: auto;
    border: solid gray;
    border-radius: 12px;
    font-size: 15px;
    font-family: Arial;
}
/*subject content*/
.card .content-assignment-subject{
    padding: 4px;
    margin-left: 40px;
    font-size: 25px ;
}
.header-content{
    height: 10em;
    background-image: url("./images_background/math.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
